.lotterySevenTitle {
  color: #eb1e75;
}

.mainPageTitle .lotteryTitleStyle .mainPageTitleLogo777 {
  height: 45px;
  width: 120px;
  margin-top: 3px;
}

.tdLotterySevenNumbers {
    width: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lotteryRows .lotterySevenNumbersCircle {
  background-color: #eb1e75;
}