.lotterySevenTitle {
  color: #eb1e75;
}

.mainPageTitle .lotteryTitleStyle .mainPageTitleLogo777 {
  height: 45px;
  width: 120px;
  margin-top: 3px;
}

.td777RowNumber {
  width: 5%;
}

.tdLotterySevenNumbers {
  width: 95%;
}

.lotteryRows .lotterySevenNumbersCircle {
  background-color: #eb1e75;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 480px) { /* mobile resolution */
  .td777RowNumber {
    width: 2rem;
  }
  
  .tdLotterySevenNumbers {
    width: 15rem;
  }

  .lotteryRows .lotterySevenNumbersCircle {
    margin-left: 2px;
    margin-right: 2px;
  }
}