.lotterySevenTitle {
  color: #eb1e75;
}

.mainPageTitle .lotteryTitleStyle .mainPageTitleLogo777 {
  height: 45px;
  width: 120px;
  margin-top: 3px;
}

.td777RowNumber {
  width: 4rem;
}

.tdLotterySevenNumbers {
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lotteryRows .lotterySevenNumbersCircle {
  background-color: #eb1e75;
  margin-left: 2px;
  margin-right: 2px;
}