.lotteryTitle {
  color: #e31d1a;
}

.mainPageTitle .lotteryTitleStyle .mainPageTitleLogoLotto {
  height: 55px;
  width: 150px;
  margin-top: 8px;
}

.tdLottoRowNumber {
  width: 5%;
}

.tdStrongNumber {
  width: 15%;
}

.tdLotteryNumbers {
  width: 80%;
  white-space: nowrap;
}

.lotteryRows .lotteryNumbersCircle {
  background-color: #e31d1a;
  margin-left: 10px;
  margin-right: 10px;
}

.lotteryRows .strongNumberCircle {
  background-color: #99d4f0;
  border-radius: 50%;
  width: 1.8em; /* need to be em and not rem (relative to the table font and not to the html font) */
  height: 1.8em; /* need to be em and not rem (relative to the table font and not to the html font) */
  display: inline-block;
  line-height: 1.8em; /* need to be em and not rem (relative to the table font and not to the html font) */
  text-align: center;
}

@media (max-width: 1150px) { /* windows resolution for smaller screens */
  .tdLottoRowNumber {
    width: 5%;
  }

  .tdStrongNumber {
    width: 20%;
  }
  
  .tdLotteryNumbers {
    width: 75%;
  }
}

@media (max-width: 900px) { /* windows resolution for smaller screens */
  .tdLottoRowNumber {
    width: 5%;
  }

  .tdStrongNumber {
    width: 30%;
  }
  
  .tdLotteryNumbers {
    width: 65%;
  }
}

@media (max-width: 480px) { /* mobile resolution */
  .mainPageTitle .lotteryTitleStyle .mainPageTitleLogoLotto {
    height: 45px;
    width: 120px;
  }

  .tdLottoRowNumber {
    width: 5%;
  }

  .tdStrongNumber {
    width: 25%;
  }
  
  .tdLotteryNumbers {
    width: 70%;
    white-space: normal;
  }

  .lotteryRows .lotteryNumbersCircle {
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media (max-width: 380px) { /* mobile resolution */
  .tdLottoRowNumber {
    width: 5%;
  }

  .tdStrongNumber {
    width: 30%;
  }
  
  .tdLotteryNumbers {
    width: 65%;
  }
}