.lotteryTitle {
  color: #e31d1a;
}

.headlineTitle .lotteryTitleStyle .logoLotto {
  height: 40px;
  width: 120px;
  margin-top: 5px;
}

.tdLotteryNumbers {
  width: 13.1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lotteryRows .lotteryNumbersCircle {
  background-color: #e31d1a;
}

.lotteryRows .strongNumberCircle {
  background-color: #99d4f0;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  display: inline-block;
  line-height: 1.8em;
  text-align: center;
}