.lotteryTitle {
  color: #e31d1a;
}
.tdLotteryNumbers {
  width: 13.1em;
}
.lotteryRows .lotteryNumbersCircle {
  background-color: #e31d1a;
}
.lotteryRows .strongNumberCircle {
  background-color: #99d4f0;
  border-radius: 50%;
  width: 1.9em;
  height: 1.6em;
  display: inline-block;
  text-align: center;
}