#root, .mainDiv {
  height: 100%;
  width: 100%;
}

.mainLotteryDiv {
  margin-top: 10px;
  position: relative;
  height: calc(100% - 9.8rem - 10px); /* view height calculation is (100% of the window - nav height - 25px of .mainLotteryDiv margin-top) */
  width: 100%;
}

.mainPageTitle {
  display: flex; /* center the rows horizontally */
  align-items: center; /* center the rows horizontally */
  justify-content: center; /* center the rows horizontally */
  flex-direction: row; /* center the rows horizontally */
  font-size: 25px;
  font-weight: 800;
  margin-right: 1em;
  height: 75px;
}

.lotteryTitleStyle {
  margin-left: 0.3em;
}

.rowsNumber {
  font-size: 1.9rem;
  color: #223977;
  margin-left: 0.5em;
  width: 5.5em;
  position: relative;
}

.lotteryButtons {
  display: flex; /* center the div horizontally */
  align-items: center; /* center the div horizontally */
  justify-content: center; /* center the div horizontally */
  flex-direction: row; /* center the div horizontally */
}

.lotteryButtons button {
  background-color: #223977;
  color: #fff;
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 1.8em;
  margin-left: 15px;
  cursor: pointer;
}

.lotteryButtons button.symbolButton {
  letter-spacing: 0px;
  width: 2.5rem;
}

.lotteryButtons button:hover {
  background-color: rgba(34, 57, 119, 0.7);
}

.lotteryRows {
  display: flex; /* center the table horizontally */
  align-items: center; /* center the table horizontally */
  justify-content: center; /* center the table horizontally */
  flex-direction: column; /* center the table horizontally */
  width: 100%;
}

td {
  background-color: #ececec;
  padding-top: 5px;
  padding-bottom: 5px;
}

.lotteryRows table {
  padding-top: 20px;
  font-size: 1.3rem;
  font-weight: 800;
  border-collapse: separate; /* add separate line between table tds (this is also the default value for the table)*/
  width: 70%;
}

tbody, tr {
  width: 100%;
}

.lotteryRows th, .lotteryRows td {
  text-align: center;
  vertical-align: middle;
}

.lotteryRows .lotteryNumbersCircle {
  color: #fff;
  border-radius: 50%;
  width: 1.8em; /* need to be em and not rem (relative to the table font and not to the html font) */
  height: 1.8em; /* need to be em and not rem (relative to the table font and not to the html font) */
  display: inline-block;
  line-height: 1.8em;
  text-align: center;
}

@media only screen and (max-width: 800px) { /* resolution for mobile and tablets*/
  .lotteryButtons button:hover {
    background-color: #223977;
  }
}

@media only screen and (max-width: 480px) { /* mobile resolution */
  .lotteryButtons button {
    height: 2rem;
    font-size: 1.2rem;
    margin-left: 5px;
    margin-right: 5px;
  }

  .mainLotteryDiv {
    height: calc(100% - 3.8rem); /* view height calculation is (100% of the window - nav height - 25px of .mainLotteryDiv margin-top) */
    margin-top: 0px;
  }

  .mainPageTitle {
    height: 70px;
  }

  .rowsNumber {
    font-size: 1.7rem;
  }

  .lotteryRows table {
    width: 100%;
    font-size: 1rem;
  }
}