nav ul li a.active.lottoNav {
    background-color: #e31d1a;
}

nav ul li a:not(.active):hover.lottoNav {
    background-color:#e31d1a ;
}

nav ul li a.active.sevenNav {
    background-color: #eb1e75;
}

nav ul li a:not(.active):hover.sevenNav {
    background-color:#eb1e75 ;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(90deg, #0090d5, #223977);
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 0.3rem;
}

nav ul li {
   list-style: none; 
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.9rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        height: 3.8rem;
    }

    nav ul {
        visibility: hidden;
        position: absolute;
        top: 3.8rem;
        background-image: linear-gradient(90deg, #0090d5, #223977);
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 1s;
    }

    nav ul.toggled {
        visibility: visible;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 1s;
        animation: slideUpUl 1s;
        animation-fill-mode: forwards;
    }

    nav ul.open.toggled {
        visibility: visible;
        transform: scaleY(1);
        transform-origin: top;
        transition: transform 1s;
        animation: slideDownUl 1s;
        animation-fill-mode: forwards;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 1s, transform 1s;
        border: 0.2rem solid transparent; /* add a transparent border instead of margin-top, to prevent not smooth animation on close menu*/
    }

    nav ul.open li {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 1s, transform 1s;
    }

    nav ul li a {
        padding: 0.5rem;
        margin: 0rem 0.5rem;
    }

    @keyframes slideDownUl {
        from {
          max-height: 0;
        }
        to {
          max-height: 200px;
        }
      }
      
      @keyframes slideUpUl {
        from {
          max-height: 200px;
        }
        to {
          max-height: 0;
        }
      }
}