.LotteryButtons button, .LotteryButtons span {
  margin-left: 15px;
}
.LotteryButtons button {
  background-color: #223977;
  color: #fff;
  border-radius: 6px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1.3em;
}
.LotteryButtons button:hover {
  background-color: rgba(34, 57, 119, 0.7);
  color: #fff;
}
.LotteryButtons {
  position: fixed;
  left: 50%; /* center the div horizontally */
  transform: translateX(-50%); /* center the div horizontally */
  direction: rtl;
  width: 22em;
}
.RowsNumber {
  color: #e31d1a;
  font-size: 25px;
  font-weight: 800;
}
.LotteryRows {
  display: flex; /* center the li horizontally */
  align-items: center; /* center the li horizontally */
  justify-content: center; /* center the li horizontally */
  flex-direction: column; /* center the li horizontally */
  font-size: 1.3em;
}
.LotteryRows ul {
  direction: rtl;
  padding-inline-start: 15px;
  padding-top: 20px;
  padding-right: 20px;
}
.LotteryRows li {
  margin-top: 20px;
  list-style-type: decimal;
  width: 15em;
}
.MainDiv {
  top: 90px;
  position: relative;
  font-family: "Times New Roman";
}